* {
    margin: 0;
    padding: 0;
}
.identity {
    display: flex;
}
.logo {
    background-color: black;
    height: 190px;
    width: 1230px;
}
img {
    height: 188px;
}
.menu{
    background-color:  #e9ac28;
        height: 65px;
}
.menu li{
    
    display: inline;
    list-style: none;
    text-transform: uppercase;
    font-size: xx-large;
    margin-right: 74px;
    font-weight:bolder

}
.photo {
    margin-left: 100px;
    margin-top: 50px;
}
ul {
    padding-top: 14px;

}
table {
    margin-left: 40px;
}
.internshipform {
    padding-top: 40px;
    margin-left: 17px;
}
.internshipform h2 {
    background-color: black;
    color: white;
    margin-right: 1248px;
    padding-left: 15px;
}
.internshipform2 {
    padding-top: 40px;
    margin-left: 5px;
}
.internshipform2 h2 {
    background-color: black;
    color: white;
    margin-right: 1040px;
    margin-left: 22px;
    padding-left: 15px;
}
form {
    padding-top: 41px;
    font-weight: bolder;
    font-size: larger;
    margin-left: 41px;
    background-color: silver;
    margin-right: 32px;
    margin-top: 10px;
}


form .required{
    color:red;
}
form input{
    padding: 8px;
    margin: 10px;
}
.paragraph {
    margin-left: 20px;
}
.paragraph p{
    width: 315px;
    font-weight: bold;
}
.sign {
    padding-top: 40px;
    display: flex;
    gap: 600px;
    margin-bottom: 40px;
}
.button {
    text-align: center;
}
.submit {
    height: 26px;
    width: 100px;
    text-align: center;
    background-color: yellow;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 30px;
    cursor: pointer;
}
